[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/tbb"]
	path = external/tbb
	url = https://github.com/blep/tbb.git
[submodule "ips2ra"]
	path = ips2ra
	url = https://github.com/ips4o/ips2ra.git
